# Tomcat
server:
  tomcat:
    uri-encoding: UTF-8
    max-threads: 1000
    min-spare-threads: 30
  port: 8080
  URIEncoding: UTF-8
  connection-timeout: 5000ms
  servlet:
    context-path: /

spring:
  # 环境 dev|test|prod
  profiles:
    active: dev
  # jackson时间格式化
  jackson:
    time-zone: GMT+8
    date-format: yyyy-MM-dd HH:mm:ss
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
      file-size-threshold: 2KB # 文件写入磁盘的阈值 20211116
      enabled: true
  redis:
    open: false  # 是否开启redis缓存  true开启   false关闭
    database: 0
    host: localhost
    port: 6379
    password:    # 密码（默认为空）
    timeout: 6000ms  # 连接超时时长（毫秒）
    jedis:
      pool:
        max-active: 1000  # 连接池最大连接数（使用负值表示没有限制）
        max-wait: -1ms      # 连接池最大阻塞等待时间（使用负值表示没有限制）
        max-idle: 10      # 连接池中的最大空闲连接
        min-idle: 5       # 连接池中的最小空闲连接
  mvc:
    throw-exception-if-no-handler-found: true
#  resources:
#    add-mappings: false


#mybatis
mybatis-plus:
  mapper-locations: classpath*:/mapper/**/*.xml
  #实体扫描，多个package用逗号或者分号分隔
  typeAliasesPackage: io.hbgj.modules.*.entity
  global-config:
    #数据库相关配置
    db-config:
      #主键类型  AUTO:"数据库ID自增", INPUT:"用户输入ID", ID_WORKER:"全局唯一ID (数字类型唯一ID)", UUID:"全局唯一ID UUID";
      id-type: AUTO
      logic-delete-value: -1
      logic-not-delete-value: 0
    banner: false
  #原生配置
  configuration:
    map-underscore-to-camel-case: true
    cache-enabled: false
    call-setters-on-nulls: true
    jdbc-type-for-null: 'null'


hbgj:
  redis:
    open: false
  shiro:
    redis: false
  # APP模块，是通过jwt认证的，如果要使用APP模块，则需要修改【加密秘钥】
  jwt:
    # 加密秘钥
    secret: f4e2e52034348f86b67cde581c0f9eb5[www.hbgj.io]
    # token有效时长，7天，单位秒
    expire: 604800
    header: token


# 自定义文件保存路径20211116
gorit:
  file:
    root:
#      path: D:\workspace\hbgj\src\main\resources\static\images\
#      path1: D:\workspace\hbgj\src\main\resources\static\wjfiles\dev1\
#      path2: D:\workspace\hbgj\src\main\resources\static\wjfiles\dev2\
#      path3: D:\workspace\hbgj\src\main\resources\static\wjfiles\dev3\
#      path4: D:\workspace\hbgj\src\main\resources\static\wjfiles\dev4\
#      path5: D:\workspace\hbgj\src\main\resources\static\wjfiles\dev5\
      path: C:\Java\apache-tomcat-8.5.27\webapps\hbgj\WEB-INF\classes\static\images\
      path1: C:\Java\apache-tomcat-8.5.27\webapps\hbgj\WEB-INF\classes\static\wjfiles\dev1\
      path2: C:\Java\apache-tomcat-8.5.27\webapps\hbgj\WEB-INF\classes\static\wjfiles\dev2\
      path3: C:\Java\apache-tomcat-8.5.27\webapps\hbgj\WEB-INF\classes\static\wjfiles\dev3\
      path4: C:\Java\apache-tomcat-8.5.27\webapps\hbgj\WEB-INF\classes\static\wjfiles\dev4\
      path5: C:\Java\apache-tomcat-8.5.27\webapps\hbgj\WEB-INF\classes\static\wjfiles\dev5\
# 电脑端和服务器地址
